@media only screen and (max-width: 500px) {
  .header .container{
	  padding:0 15px;
  }
  .header{
	  position:relative;
  }
  .header  h1 a{
	 position:absolute;
	 top:5px;
  }
  .navbar-toggle{
	  padding:6px 0;
	  margin:0;
  }
  .navbar-toggle .icon-bar{
	  width:25px;
	  height:4px;
	  background:#fff;
  }
  .search{
	  width:80%;
	  margin:0 5px 10px 15px;
	  border:1px solid gray;
	  border-radius:4px;
	  padding:3px 5px;
  }
  .search:hover{
	  width:80%;
  }
  .slide3, .menuA1 li ul, .click1a1{
	  position:static;
  }
  .menuA1{
	  margin-left:0;
	  margin-right:0;
  }
  .menuA1 li{
	  padding:0 ;
  }
  .menuA1 li ul{
	  width:100%;
  }
  .menuA1 li ul::before{
	  border-bottom:0;
  }
  .title{
	  margin-top:15px;
  }
  .option{
	  padding-top:15px;
	  padding-bottom:5px;
  }
  .title{
	  text-align:center;
  }
  .title .col-md-2{
	  overflow:hidden;
	  padding:10px;
  }
  .title a{
	  padding:10px 40px;
  }
  .option1{
	  margin-bottom:15px;
	  height:auto;
	  padding:15px 15px 30px 15px;
	  overflow:hidden;
  }
  .option1 p{
	  padding-bottom:10px;
  }
  .content2 p, .slide1{
	  padding-bottom:15px;
  }
  .content3{
	  padding-top:0;
  }
  .partner .slide1c{
	  left:64%;
  }
  .partner h3::after{
	  border:none;
  }
  .partner .item .col-md-2{
	  margin-bottom:5px;
  }
  .partner .item img{
	  padding:20px 40px;
  }
  .footer1{
	  background-position:30% -0.1%;
  }
  .content4{
	  padding-top:30px;
  }
  .content3 h3{
	margin-bottom:15px;  
  }
   .partner h3{
	   margin-bottom:30px;
   }
  .content3 .person{
	  padding-left:0;
	  margin-top:10px;
  }
  .footer1 .col-md-2 ul{
	  margin-top:15px;
	  padding-left:0;
  }
}
@media only screen and (max-width: 600px){
	/* fix menu */
	.navbar-toggle .icon-bar{
		background:#fff;
		height:6px;
		width:30px;
	}
	.menuA1 li ul{
		width:100%;
	}
	.menuA1{
		margin-right:0;
		margin-left:0;
	}
	.navbar-toggle{
		margin-right:0;
	}
	/* fix logo */
	.header h1 a{
		position:absolute;
		top:20px;
		z-index:10;
	}
	.header .container{
		padding:0;
	}
	.header1{
		padding:0 15px;	
	}
	/* search */
	.header .col-md-1{
		position:absolute;
		top:13px;
		right:14%;
	}
	.search{
		width:0;
	}
	/* content  */
	.title{
		margin-top:15px;
		margin-bottom:15px;
	}
	.title .col-md-10{
		width:74%;
		float:left;
		padding-left:0;
	}
	.title .col-md-2{
		width:26%;
		float:left;
	}
	.title a{
		line-height:70px;
		padding:14px 18px;
	}
	.option .col-md-3{
		width:50%;
		float:left;
		padding-bottom:40px;
	}
	.option{
		padding-bottom:0;
		padding-top:0;
	}
	.content2 p{
		padding-bottom:0;
	}
	.slide3{
		position:static;
	}
	.slide3 span{
		right:25px;
	}
	.slide3 ul{
		margin-right:2px;
	}
	.content3, .content3 p{
		padding-top:0;
	}
	.content3 h3{
		margin-top:30px;
		margin-bottom:10px;
	}
	.partner h3{
		margin-top:30px;
		margin-bottom:30px;
	}
	.content3 .person{
		padding-left:0;
	}
	.content3 p{
		padding-bottom:25px;
	}
	.partner h3{
		padding-right:20%;
	}
	.partner .slide1c{
		left:83%;
	}
	.content4{
		padding-top:40px;
	}
	.footer1 .col-md-4, .footer1 .col-md-2{
		width:50%;
		float:left;
	}
	.footer1 .blog{
		width:100%;
		float:left;
	}
	.footer1 .blog .row{
		width:50%;
		float:left;
	}
	.footer2 .col-md-6{
		width:30%;
		float:left;
	}
	.footer2 .col-md-6{
		width:70%;
		float:left;
	}
}