
@font-face {
    font-family: OpenSan-ExtraBold;
    src: url(fonts/OpenSans-ExtraBold.woff);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.woff);
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(fonts/OpenSans-Semibold.woff);
}
@font-face {
    font-family: OpenSans-Italic;
    src: url(fonts/OpenSans-Italic.woff);
}
*{
	margin:0;
	padding:0;
}
a:hover, a:focus, a:active{
	outline:0;
}
.remove-col{
	padding-left:0;
	padding-right:0;
}
.header{	
	width:100%;
	float:left;
	background:#76c7c0;
}
.header1{
	background:url("images/vien2.png") no-repeat bottom center;
	padding-bottom:10px;
	padding-top:10px;
}
.header .container {
	padding: 13px 0 0 0;
}
.header h1, .footer1 h3{
	margin:0;
}
.header h1{
	line-height:26px;
}
.header	h1 a, .footer1 h3{
		color:#fff;
		font-size:30px;
		font-family: OpenSan-ExtraBold;
		text-transform:uppercase;
		text-decoration:none;	
}
.header	h1 a span, .footer1 h3 span{
	font-size:25px;
	font-family: OpenSans-Regular;
	text-transform:none;
	padding-left:10px;
}
.menuA1 li{
	position:relative;
	padding-bottom:13px;
}
.menuA1 li a{
	color:#fff;
	text-decoration:none;
	font-family: OpenSans-Semibold;
	padding:3px 15px;
	line-height:26px;
	border: 1px solid rgba( 0, 0, 0, 0);
	border-radius: 4px;
	font-size:13px;
}
.menuA1 li ul{
	display:none;
	background:#e2534b;
	padding:5px;
	border-radius:4px;
	position:absolute;
	z-index:30;
	width:200%;
	margin-top:15px;
}
.menuA1 li ul:before{
	border-bottom:10px solid #e2534b;
	content:"";
	border-left:10px solid rgba( 0, 0, 0, 0);
	border-right:10px solid rgba( 0, 0, 0, 0);
	position:absolute;
	top:-10px;
	left:15px;
}
.menuA1 li:hover ul{
	display:block;
}
.menuA1 li ul li{
	list-style:none;
	margin-top:5px;
	background:#e5655d;
	padding:5px;
	border-radius:4px;
}
.menuA1 li ul li:hover{
	background:#76c7c0;
}
.menuA1 li ul li a{
	list-style:none;
	background:rgba( 0, 0, 0, 0);
	box-shadow:0%;
	font-size:13px;
	font-family:OpenSans-Regular;
	padding:0;
}
.menuA1 li ul li a:hover{
	box-shadow:none;
	background:#76c7c0;
}
.menuA1 li ul li:first-child{
	margin-top:0;	
}
.menuA1 li ul li:first-child a{	
	box-shadow:none;
	background:rgba( 0, 0, 0, 0);
	font-size:13px;
	font-family:OpenSans-Regular;
}
.menuA1 li ul li a i{
	padding-right:10px;
	font-size:13px;
}
.fa-angle-down{
	padding-right:8px;
}
.menuA1 li:first-child a{
	background:#62a29e;
	box-shadow: 0px 3px #528b86;
}
.menuA1 li a:hover{
	box-shadow: 0px 3px #e2534b;
	background:#e5655d;
}
.header .col-md-1{
	line-height:26px;
}
.search{
	width:0;
	transition:0.6s;
	border:none;
}
.search:hover{ width:48px;}
.clic{
	border:none;
	background:rgba( 0, 0, 0, 0);
	margin-top:6px;
	color:#fff;
}
/* slide */
.slide{
	width:100%;
	float:left;
	overflow:hidden;
	background:#f3f3f3;
}
.item{
	position:relative;
	overflow:hidden;
}
.item img{
	width:100%;
}
.slogen{
	text-align:center;
	overflow:hidden;
	position:absolute;
	top:30%;
	left:37%;
}
.slogen h3 a{
	color:#fff;
	text-transform:uppercase;
	font-family:OpenSan-ExtraBold;
	font-size:50px;
	padding:5px 10px;
	background:#e2534b;
	border-radius:8px;
	text-decoration:none;
	
}
.slogen p{
	background:#3f4646;
	color:#fff;
	font-size:16px;
	padding:8px 30px;
	border-radius:8px;
	font-family:OpenSans-Regular;
}
.slide1c{
	position:absolute;
	top:40%;
	left:0;
}
.slide2c{
	position:absolute;
	top:40%;
	right:0;
}
.slide1c, .slide2c{
	color:#fff;
	padding:9px 12px;
	background:#e8645a;
}
.fa-angle-double-left, .fa-angle-double-right{
	font-size:40px;
}
.slide1c:hover, .slide2c:hover{
	color:#fff;
}
.slide1{
	padding-bottom:50px;
}
.ola1{
	margin-bottom:0;
	top:92.7%;
}
.carousel-indicators .active{
	height:6px;
	width:60px;
	border-radius:0;
	background:#e2534b;
	border:none;
}
 .carousel-indicators li{
	height:6px;
	width:60px;
	border-radius:0;
	background:#b0b8b9;
	border:none;
	margin:0 3px;
 }
 /* content */
 .content{
	 width:100%;
	 overflow:hidden;
	 float:left;
	 background:#f3f3f3;
 }
 .title{
	 background:#ececec;
	 overflow:hidden;
	 padding: 22px 35px;
 }
 .title h2{
	 font-size:30px;
	 color:#7f8c8c;
	 font-family: OpenSans-Semibold;
	 margin:0;
 }
 .title p{
	 font-size:13px;
	 color:#777777;
	 margin-bottom:0;
	 font-family: OpenSans-Regular;
	 padding-top:4px;
 }
 .title a{
	 font-size:20px;
	 padding:14px 40px;
	 background:#e8645a;
	 color:#fff;
	 border-radius:8px;
	 line-height:14px;
	 line-height:54px;	 
	 box-shadow: 0 3px #e2534b;
	 text-decoration:none;
	 font-family:OpenSans-Semibold;
 }
 .option{
	 padding-top:50px;
	 padding-bottom:80px;
	
 }
 .option1{
	 background:#fff;
	 padding:15px;
	 box-shadow: 0 3px #e5e6e6;
	 border-radius:6px;
 }
.option1{
	 text-align:center;
	 position:relative;
	 height:312px;
 }
 .option1 i{
	 font-size:60px;
	 color:#76c7c0;
 }
 .option1 h3 a{
	 font-size:16px;
	 color:#7f8c8c;
	 font-family:OpenSan-ExtraBold;
	 margin-bottom:36px;
	 margin-top:13px;
 }
 .option1 p{
	 font-size:13px;
	 color:#777;
	 font-family:OpenSans-Regular;
	 line-height:26px;
	 
 }
 .click1a1{
	 font-size:13px;
	 padding:15px 60px;
	 background:#76c7c0;
	 color:#fff;
	 border-radius:8px;
	 box-shadow: 0 3px #62b9b0;
	 position:absolute;
	 bottom:-7%;
	 left:14.5%;
	 font-family:OpenSans-Semibold;
 }
 .click1a1:hover{
	 text-decoration:none;
	 color:#fff;
 }
 .option1:hover i{
	 color:#e8645a;
	 transition:0.3s;
 }
 .option1:hover .click1a1{
	 background:#e8645a;
	 box-shadow: 0 3px #e2534b;
	 transition:0.3s;
 }
 /* why */
 .content2{
	 background:#ececec;
	 width:100%;
	 float:left;
	 overflow:hidden;
	 text-align:center;
 }
 .content2 h2{
	 font-size:40px;
	 color:#e1524b;
	 margin:0;
	 padding-bottom:15px;
	 font-family:OpenSans-Semibold;
 }
 .content2 p{
	 font-size:16px;
	 color:#777;
	 padding-bottom:240px;
	 font-family:OpenSans-Regular;
 }
 .content4{
	 background:url("images/vien.png") no-repeat;
	 padding-top:70px;
	 background-position: 30% -2%;
 }
.conten-slide, .content3{
	width:100%;
	float:left;
	position:relative;
	background:#f3f3f3;
}
.slide3{
	background:#c1c7c8;
	border-radius:10px;
	overflow:hidden;
	border:5px solid #c1c7c8;
	position:absolute;
	top:-190px;
	z-index:10;
}
.slide3 ul{
	width:50%;
	margin:13px;
	overflow:hidden;
}
.slide3 span{
	background: #fff;
    height: 6px;
    width: 14px;
	position:absolute;
	top:18px;
	right:15px;
	border-radius:4px;
}
.slide3 ul li{
	display:inline-block;
	color:#fff;
	float:left;
	margin-right:10px;
}
.slide3 img{
	border-radius:8px;
	background:#7f8c8c;
}
.content3{
	padding-top:225px;
	overflow:hidden
}
.content3 h3, .partner h3{
	color:#7f8c8c;
	font-size:16px;
	margin-bottom:40px;
	font-family:OpenSan-ExtraBold;
}
.content3 ul{
	list-style:none;
}
.content3 ul li{
	line-height:26px; 
}
.content3 ul li a{
	text-decoration:none;
	font-size:13px;
	color:#777;
	font-family:OpenSans-Regular;
}
.content3 ul li a i{
	color:#e1524b;
	padding-right:8px;
}
.content3 p{
	margin-top:20px;
	color:#777;
	font-size:13px;
	padding-bottom:50px;
	line-height:26px;
	font-family:OpenSans-Regular;
}
.content3 p a, .content3 p ins{
	color:#e1524b;
}
.custom-ct{
	padding:10px;
	background:#fff;
}
.custom-ct .cont{
	color:#777;
	line-height:26px;
	font-size:13px;
	font-family:OpenSans-Italic;
	padding:0;
	margin:0;
}
.content3 .person{
	font-size:16px;
	color:#777;
	padding-left:20%;
	font-family:OpenSans-Semibold;
}
.partner{
	position:relative;
}
.partner h3{
	line-height:4px;
	margin-top:0;
	padding-right:10%;
	margin-bottom:54px;
}
.partner h3 span{
	z-index:2;
	padding:0 30px 0 0;
	background:#f3f3f3;
	font-family:OpenSan-ExtraBold;
}
.partner h3:after{
	border-bottom:1px solid #e1e2e2;
	content:"";
	display:block;	
}
.partner .item img{
	width:100%;
	padding:30px 35px;
	background:#fff;
	border-radius:8px;
	
}
.partner .slide1c, .partner .slide2c{
	background:#98a3a3;
	box-shadow:0px 3px #7f8c8c;
	border-radius:4px;
	padding:7px 14px;
	font-size:18px;
}
.partner .slide1c:hover, .partner .slide2c:hover{
	background:#e8645a;
	box-shadow:0px 3px #e2534b;
	color:#fff;
}
.partner .slide1c{
	position:absolute;
	top:-18px;
	left:91.7%;
}
.partner .slide2c{
	position:absolute;
	top:-18px;
	right:0%;
}
.footer{
	background:#76c7c0;
	width:100%;
	float:left;
	overflow:hidden;
}
.footer1{
	background: url("images/vien.png") no-repeat;
	width:100%;
	float:left;
	overflow:hidden;
	padding:48px 0;
	background-position: 30% -2%;
}
.footer1 p{
	color:#fff;
	font-size:13px;
	margin:28px 0 0 0;
	line-height:24px;
	font-family:OpenSans-Regular;
}
.footer1 .foot1{
	font-size:20px;
	padding-left:15px;
	font-family:OpenSans-Semibold;
	color:#fff;
	
}
.footer1 .col-md-2 h3{
	font-size:20px;
	color:#497e79;
	margin-top:10px;
}
 .footer1 .blog h3{
	 font-size:20px;
 }
.footer1 .col-md-2 ul{
	list-style:none;
	margin-top:28px;
	padding-left:15%;
}
.footer1 .col-md-2 ul li{
	line-height:24px;
}
.footer1 .col-md-2 ul li a{
	color:#fff;
	font-size:13px;
	transition:0.3s;
	text-decoration:none;
	font-family:OpenSans-Regular;
}
.footer1 .col-md-2 ul li a i{
	padding-right:10px;
	color:#fff;
}
.footer1 .col-md-2 ul li a:hover{
	padding-left:10px;
	color:#e8645a;
}
.footer1 h3 .blog1{
	text-transform:none;
	padding-right:10px;
	font-family:OpenSans-Italic;
	font-size:20px;
}
.footer1 p span{
	color:#497e79;
}
.footer1 img{
	margin-top:30px;
	border-radius:4px;
}
.footer2{
	background:#6ab3ac;
	width:100%;
	overflow:hidden;
	color:#fff;
	padding:14px;
}
.footer2 p{
	margin:0;
	padding:5px;
	font-family:OpenSans-Regular;
	font-size:13px;
}
.footer2 .col-md-5 i{
	float:right;
	padding-left:20px;
	font-size:30px;
}